/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
  }
  
  .IconContainer {
    width: 30px;  
    height: 30px;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(23, 23, 23));
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }
  
  .icon {
    border-radius: 1px;
    color: white;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.2rem;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:hover .text {
    transform: translate(10px);
    width: 0;
    font-size: 0;
    transition-duration: 0.3s;
  }
  
  .bookmarkBtn:active {
    transform: scale(0.95);
    transition-duration: 0.3s;
  }
  